.stui-pannel_hd[style]:first-of-type {display: none!important}
img[id^=hth] {display: none!important}
img[id^=ad] {display: none!important}
img[id^=yb] {display: none!important}
img[id^=md] {display: none!important}
