.stui-pannel_hd[style]:first-of-type {display: none!important}
img[id^=hth] {display: none!important}
img[id^=ad] {display: none!important}
img[id^=yb] {display: none!important}
img[id^=md] {display: none!important}
#md112,#yb112,#ad01  {display: none! important;}
.marquee_outer {display: none! important;}

iframe{display: none! important;}
img[src*=ykimg]{display: none! important;}
.layui-layer.layui-layer-dialog {display: none! important;}
